<app-header></app-header>

<body>
  <h2 class="card-title"><b>Welcome to Weather App!</b></h2>
  <h3 class="card-title-h3">Weather at a Glance – Know Before You Go!</h3>
  
  <div class="wrapper">
    <mat-card class="container item item1">
      <img src="https://media.istockphoto.com/id/1272459203/photo/blue-sky-and-sunbeam.jpg?s=612x612&w=0&k=20&c=F3UegkMQpKGMbEGIoWuhWJr_Mg-gEurmwqhQC2FS_EE=" alt="Sunny Weather" class="card-image">
      <h3 class="weather-card-text">Sunny</h3>
    </mat-card>
    <mat-card class="container item item2">
      <img src="https://img.freepik.com/premium-photo/cloud-that-is-sky-with-sun-shining-through-it_198067-1140126.jpg" alt="Cloudy Weather" class="card-image">
      <h3 class="weather-card-text">
        Cloudy
      </h3>
    </mat-card>
    <mat-card class="container item item3">
      <img src="https://media.istockphoto.com/id/1257951336/photo/transparent-umbrella-under-rain-against-water-drops-splash-background-rainy-weather-concept.jpg?s=612x612&w=0&k=20&c=lNvbIw1wReb-owe7_rMgW8lZz1zElqs5BOY1AZhyRXs=" alt="Rainy Weather" class="card-image">
      <h3 class="weather-card-text">Rainy</h3>
    </mat-card>
    <mat-card class="container item item4">
      <img src="https://png.pngtree.com/thumb_back/fw800/background/20230906/pngtree-fall-autumn-leaves-wallpaper-image_13297803.jpg" alt="Autumn Weather" class="card-image">
      <h3 class="weather-card-text">Autumn</h3>
    </mat-card>
    <mat-card class="container item item5">
      <img src="https://static.vecteezy.com/system/resources/previews/002/044/321/non_2x/beautiful-pink-flower-in-the-spring-season-free-photo.jpg" alt="Spring Weather" class="card-image">
      <h3 class="weather-card-text">Spring</h3>
    </mat-card> 
  </div>

</body>
  
<footer>
  <p>Contact: support&#64;weatherapp.com</p>
  <p>© 2024 Weather App, All Rights Reserved</p>
</footer> 